<img id="burgerImg" src="/assets/img/burger.jpg" alt="Picture of burger and fries" width="400" height="300">

<h1 id="title">Eat-Da-Burger!</h1>
<div class="container">
<div class="burgerOptionsL">
    <ol id="left">
        {{#each burgers}}
            {{#unless devoured}}
                <li>
                    {{burger_name}}
                    <button class="change-eaten" data-id="{{id}}" data-devoured="{{devoured}}">Devour It</button>
                </li>
            {{/unless}}        
        {{/each}}
        {{!-- devoured equals false for loop that goes through the database : False needs to add a button (Devour It)--}}
    </ol>
</div>
<div class="burgerOptionsR">
    <ol id="right">
        {{#each burgers}}
            {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
            {{/if}}
        {{/each}}
        {{!-- devoured equals true for loop that goes through the database --}}
    </ol>
</div>
</div>
<form class="burgerInput">
    <input type="text" id="burgerType" name="burger"><br><br>
    <button type="submit" id="submit">Submit</button><br><br>
    <h3>Enter a burger you want to eat.. Click the 'Submit' button</h3>
</form>